[Unit]
Description=Network Setup
After=network.target
Before=ratsnest.service

[Service]
Type=forking
ExecStart=/bin/network-setup-wrapper

[Install]
WantedBy=minimal.target
